@use 'lib' as *;

.likes {
	$self: &;

	padding-bottom: 120px;

	&__container {

	}

	&__info {

	}

	&__title {
		font-weight: 300;
		font-size: 28px;
		margin-bottom: 16px;
	}

	&__available {	
		font-size: 16px;
		margin-bottom: 48px;

		@include media("<=xs") {
			margin-bottom: 24px;
		}
	}

	&__back {
		@include flex-center;

		padding: 16px 32px;
		background: #2b4747;
		color: #ffffff;
		width: 100%;
		max-width: 265px;

		@include media("<=xs") {
			max-width: 100%;
		}
	}

}
